<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Homepage</title>
    <style>
        th,td{
        border: 2px black solid;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Inventory</h1>
    {% if inv_before or inv_after %}
        <h2 style="text-align: center;">Current Data</h2>
    {% else %}
        <h2>No data has been entered yet.</h2>
    {% endif %}
    {%if inv_before %}
        <h3 style="text-align: center;">Peremption date passed :</h3>
        <table style="border:1px solid black;margin-left:auto;margin-right:auto" >
            <tr>
                <th style="padding-right:10px;padding-left:3px">GTIN</th>
                <th style="padding-right:10px;padding-left:3px">Peremption</th>
            </tr>
            {% for item in inv_before %}
            <tr>
                <td style="padding-right:10px;padding-left:3px">{{item.gtin}}</td>
                <td style="padding-right:10px;padding-left:3px">{{item.peremption}}</td>
            </tr>
            {%endfor %}
        </table>
    {% endif %}

    {%if inv_after %}
        <h3 style="text-align: center;">Still Edible :</h3>
        <table style="border:1px solid black;margin-left:auto;margin-right:auto" >
            <tr>
                <th style="padding-right:10px;padding-left:3px">GTIN</th>
                <th style="padding-right:10px;padding-left:3px">Peremption</th>
            </tr>
            {% for item in inv_after %}
            <tr>
                <td style="padding-right:10px;padding-left:3px">{{item.gtin}}</td>
                <td style="padding-right:10px;padding-left:3px">{{item.peremption}}</td>
            </tr>
            {%endfor %}
        </table>
    {% endif %}
    <div class = "container" align="center">
        {%block child_block%}
        {%endblock%}
    </div>
</body>
</html>