H1{
   text-align: center;
   background-color: darkblue;
   font-family :  "Verdana";
   color : yellow;
}

H2{
   text-align: center;
   background-color: blue;
   font-family :  "Verdana";
   color : white;
}

body {
   font-family :  "Verdana";
   background-color: lightblue;
}